<div align="center" style="padding-top: 20px; padding-bottom: 20px;">
    <button onclick="goBack()" class="btn btn-primary btn-large" >Go Back</button>
    
    <script>
    function goBack() {
      window.history.back();
    }
    </script>
    </div>
 
    </body>
    
</html>