<%- include("partials/header") %>

<style>
    .container{
        z-index: 1;
    position: relative;
    text-align: center;
    padding-top: 10vh;
    width: 500px;
   }
</style>
<div class="container">
<div class="card">

    
            <h1 style="padding-bottom: 20px; background-color: rgb(10, 211, 247); " class="card-header" >Contact me</h1>
            <div class="card-body">
           <h5 style="padding-top:10px;"><i class="fas fa-user" style="padding-right: 10px;" ></i>SHUBHAM KAPOOR</h5>
            <i style="padding-top: 10px;" class="fas fa-phone-square"></i><a href="tel:9711084312" style="padding-left: 10px;" >9711084312</a><br/>
                  <i class="fas fa-envelope" style="padding-top:10px;" ></i><a style="padding-left: 10px;"  href="mailto:shubhamkapoor6596@gmail.com">shubhamkapoor6596@gmail.com</a><br/>
             <h6> <i class="fab fa-linkedin" style="padding-top:10px;" ></i><a style="padding-left: 10px;"" href="https://www.linkedin.com/in/shubham-kapoor-836770145/" target="_blank">Linkedin</a> </h6>
            </div>
</div>
</div>
































<%- include("partials/footer") %>